<div class="container">
  <h2>Using PrimeNG</h2>

  <h3 class="first">Basic</h3>
  <p-chips [(ngModel)]="chipsList"></p-chips>

  <h3>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h3>
  <p-slider [(ngModel)]="rangeValues" [style]="{'width':'14em'}" [range]="true"></p-slider>

  <br>
  <button (click)="onBtnClickHandler()">Send Data</button>

  <hr>
  <h3>Pipes</h3>
  <p>{{birthday}}</p>
  <p>{{birthday | date }}</p>
  <p>{{birthday | date: 'dd/MMMM/yyyy hh:mm:ss a' }}</p>

  <p>{{ loremIpsum  }}</p>
  <p>{{ loremIpsum | uppercase }}</p>
  
  <p>{{ loremIpsum | ellipsis: '60' }}</p>
  <p>{{ loremIpsum | ellipsis: '240' }}</p>



  <h4>An untrusted URL:</h4>
  <p><a class="e2e-dangerous-url" [href]="dangerousUrl">Click me</a></p>
  <h4>A trusted URL:</h4>
  <p><a class="e2e-trusted-url" [href]="trustedUrl">Click me</a></p>

  <div class="container">
    <p>{{htmlSnippet}}</p>
    <p [innerHtml]="trustedHtmlSnippet"></p>
  </div>
</div>

